<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/tinyd8/templates/partials/item-header.hbs" placeholder='tinyd8.gear.name'}}
    {{editor descriptionHTML target="system.description" button=true owner=owner editable=editable}}
</form>
